body {
  margin: 0;
  font-family: Avenir-Roman, sans-serif;
  color: #f9f9f9;
  background-color: #040714 ;
  padding:0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media (min-width:768px) {
  body {
    font-size: 16px;
  }
  
}

@media (min-width:480px) and (max-width: 768px){
  body {
    font-size: 15px;
  }
  
}

@media (min-width:480px) {
  body {
    font-size: 14px;
  }
  
}
